In [7]:
import pandas as pd
import os
from sqlalchemy import create_engine

connection = os.environ['hydra_connection'].replace('postgresql','postgresql+psycopg')

engine = create_engine(connection)

with engine.begin() as conn:
    try:
        # Query the database and obtain data as Python objects.
        data = pd.read_sql_query('SELECT * FROM fact_hospital_events;', conn)
        data_alternative = pd.read_sql_query('SELECT * FROM fact_hospital_events_alternative;', conn)

        display(data)
        display(data_alternative)

    
    except BaseException:
        conn.rollback()
    
    else:
        conn.commit()
    
    finally:
        conn.close()

,event_id,patient_id,test_id,doctor_npi_number,admission_test_date,discharge_date,event_type,total_cost
0,1,1111,NaN,None,2023-01-01,2023-01-10,stay,100.0
1,2,2222,NaN,None,2023-01-01,2023-01-01,stay,10.0
2,3,3333,NaN,None,2023-01-02,2023-01-06,stay,50.0
3,4,2222,1.0,0265319599,2023-01-01,NaT,test,5.0
4,5,1111,2.0,1245319599,2023-01-01,NaT,test,2.0
5,6,1111,3.0,1245319599,2023-01-01,NaT,test,3.0
6,7,3333,3.0,1245319599,2023-01-02,NaT,test,3.0
7,8,1111,2.0,1245319599,2023-01-01,NaT,test,5.0
8,9,1111,NaN,None,2023-01-01,2023-01-10,stay,100.0
9,10,2222,NaN,None,2023-01-01,2023-01-01,stay,10.0
10,11,3333,NaN,None,2023-01-02,2023-01-06,stay,50.0
11,12,2222,1.0,0265319599,2023-01-01,NaT,test,5.0
12,13,1111,2.0,1245319599,2023-01-01,NaT,test,2.0
13,14,1111,3.0,1245319599,2023-01-01,NaT,test,3.0
14,15,3333,3.0,1245319599,2023-01-02,NaT,test,3.0
15,16,1111,2.0,1245319599,2023-01-01,NaT,test,5.0

,event_id,patient_id,admission_test_date,discharge_date,total_stay_cost,total_tests_cost
0,1,1111,2023-01-01,2023-01-10,120.0,10.0
1,2,3333,2023-01-02,2023-01-06,50.0,3.0
2,3,2222,2023-01-01,2023-01-01,10.0,5.0